.projects__cards {
    display: flex;
    margin: 50px 40px 0;
    justify-content: center;
}

@media (max-width:1025px) {
.projects__cards {  
    margin: 22px 40px 0;
    align-items: center;
}
}

@media (max-width:767px) {
.projects__cards {
    margin:  24px auto 0;
    flex-direction: column;

}
}  