.special-proj__title{
  white-space: pre;
  grid-row: 2/3;
  grid-column: 1/2;
  padding-bottom: 20px;
}

@media screen and (max-width:1439px) {
  .special-proj__title{
    grid-column: 1/3;
  }
}

@media screen and (max-width: 767px) {
  .special-proj__title{
    grid-row: 3/4;
    max-width: fit-content;
    padding-bottom: 10px;
  }
}