.footer__phone-numbers {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@media screen and (max-width:1439px) {
  .footer__phone-numbers {
    gap: 16px;
  }
}

@media screen and (max-width:767px) {
  .footer__phone-numbers {
    flex-direction: row;
  }
}