.news__date{
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin: auto 0 0;
  color:rgba(38, 38, 38, 0.5);
}

@media screen and (max-width: 850px){
  .news__date{
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }
}

@media screen and (max-width: 380px){
  .news__date{
    font-size: 12px;
  }
}