.digits-table {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .digits-table {
    margin-top: 32px;
  }
}

@media screen and (max-width: 710px) {
  .digits-table {
    flex-direction: column-reverse;
  }
}