.for-whom__button-container {
  position: relative;
  margin-bottom: 30px;
  margin-left: 30px;
}
@media screen and (max-width: 767px) {
  .for-whom__button-container {
    margin-bottom: 24px;
    margin-left: 24px;
  }
}
