.soc-proj__column_slide_socr{
  background-image: url(../../../../../images/imgForExample/exampleSocr3.jpg);
  background-size: contain;
}

@media screen and (max-width:767px) {
  .soc-proj__column:last-of-type.soc-proj__column_slide_socr{
    background-position: center;
  }
}