.button_type_secondary {
  background-color: transparent;
  border: 1px solid #0C4BA0;
  color: #0C4BA0;
}

.button_type_secondary:hover:not(:disabled) {
  background-color: transparent;
  border-color: #00275C;
  color: #00275C;
}

.button_type_secondary:active:not(:disabled) {
  background-color: #00275C;
  border: none;
  color: #FFF;
}