.support__don-cont{
  display: flex;
  padding: 0 0 28px;
  color: #333;
}

.support__don-cont:nth-of-type(5){
  color: rgba(0, 0, 0, 0.4);
}

.support__don-cont:nth-of-type(6){
  color: rgba(0, 0, 0, 0.3);
}

.support__don-cont:nth-of-type(7){
  color: rgba(0, 0, 0, 0.2);
}

.support__don-cont:nth-of-type(8){
  color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1439px) {
  .support__don-cont{
    padding: 0 0 26px;
  }
  .support__don-cont:nth-of-type(5){
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .support__don-cont{
    padding: 0 0 16px;
  }
  .support__don-cont:nth-of-type(5){
    display: flex;
  }
  .support__don-cont:nth-of-type(3){
    display: none;
  }
  .support__don-cont:nth-of-type(4){
    display: none;
  }
  .support__don-cont:nth-of-type(7){
    display: none;
  }
}