.soc-proj__column{
  display: flex;
  flex-direction: column;
  min-height: 565px;
}

.soc-proj__column:nth-child(2){
  min-width: 520px;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
}