.footer__inner-resources {
  display: flex;
  gap: 116px;
}

@media screen and (max-width: 1439px) {
  .footer__inner-resources {
    gap: 60px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .footer__inner-resources {
    align-items: center;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
  }
}