.digits-table__image {
  max-width: 555px;
  max-height: 368px;
}

@media screen and (max-width: 1350px) {
  .digits-table__image {
    max-width: 455px;
    max-height: 268px
  }
}

@media screen and (max-width: 1180px) {
  .digits-table__image {
    display: none;
  }
}

@media screen and (max-width: 710px) {
  .digits-table__image {
    display: flex;
    max-width: 300px;
    max-height: 200px;
    margin: 0 auto;
  }
}