.histories__details {
  padding: 76px 30px 76px 79px;
  max-width: 1056px;
  box-sizing: border-box;
}

@media screen and (max-width: 980px) {
  .histories__details {
    padding: 36px 0 0 32px;
  }
  .histories__details:first-child {
    padding: 36px 32px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .histories__details {
    padding: 34px 0 0 0;
    margin-top: 10px;
  }
}