.menu__short-link {
  align-items: center;
  color: #333;
  display: flex;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 34px;
  font-weight: 700;
  justify-content: space-between;
  letter-spacing: 0em;
  line-height: 41px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media screen and (max-width: 1439px) {
  .menu__short-link {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .menu__short-link {
    font-size: 18px;
    line-height: 22px;
    width: 100%;
  }
}