.soc-proj__paragraph{
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  max-width: 543px;
  margin: 0;
}