.histories__card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 30px 30px 0;
}

@media screen and (max-width: 767px) {
  .histories__card-content {
    margin: 20px 20px 20px 0;
  }
}

@media screen and (max-width: 470px) {
  .histories__card-content {
    margin: 15px 15px 15px 0;
  }
}