.footer__social-link {
  background-color: #0C4BA0;
  border-radius: 11px;
  display: flex;
  height: 64px;
  width: 64px;
}

@media screen and (max-width: 1439px) {
  .footer__social-link {
    height: 40px;
    width: 40px;
  }
}