.form__text-inp{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333;
  border: 1px solid #DADADA;
  border-radius: 10px;
  padding: 10px 20px;
  max-width: 415px;
}

.form__text-inp[type="text"]{
  margin: 0px 0 21px;
}

.form__text-inp[type="email"]{
  margin: 0 0 40px;
}

.form__text-inp:focus{
  outline: none;
  border: 1px solid #0C4BA0;
  border-radius: 10px;
}

.form__text-inp::placeholder{
  color: #DADADA;
}

@media screen and (max-width:1439px) {
  .form__text-inp{
    font-size: 14px;
    line-height: 120%;
  }
  .form__text-inp[type="text"]{
    margin: 0 0 16px;
  }
  .form__text-inp[type="email"]{
    margin: 0px 0 24px;
  }
}

@media screen and (max-width:767px) {
  .form__text-inp[type="text"]{
    margin: 0 0 16px;
    max-width: 218px;
  }
  .form__text-inp[type="email"]{
    margin: 0px 0 24px;
    max-width: 218px;
  }
}