.header {
  align-items: center;
  background-color: #FFF;
  box-shadow: 0px 4px 30px 0px #2A30381A;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}