.footer__practicum {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 539px;
}

@media screen and (max-width: 1439px) {
  .footer__practicum {
    max-width: 406px;
  }

  .footer__practicum *:first-child {
    height: 20px;
  }
}

@media screen and (max-width:767px) {
  .footer__practicum {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }
}