.histories__subtitle {
  margin: 0;
  font-family: 'Railway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1080px) {
  .histories__subtitle {
    font-size: 16px;
  }
}