.footer__contacts {
  display: flex;
  gap: 53px;
  justify-content: space-between;
  max-width: 517px;
  width: 100%;
}

@media screen and (max-width:1439px) {
  .footer__contacts {
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    max-width: 311px;
  }
}

@media screen and (max-width:767px) {
  .footer__contacts {
    gap: 10px;
    max-width: 300px;
  }
}