.form__radio-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  margin: 0 40px 0 0;
  border-radius: 10px;
  box-sizing: border-box;
  height: 48px;
}

.form__radio:checked + .form__radio-cont{
  border: 1px solid #0C4BA0;
}

@media screen and (max-width:1439px) {
  .form__radio-cont{
    border-radius: 8px;
    height: 44px;
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width:767px) {
  .form__radio-cont{
    margin: 0 16px 16px 0;
  }
}