.form__subm-btn{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFF;
  background-color: #0C4BA0;
  border-radius: 10px;
  border: none;
}