.histories__card_img {
  border-radius: 50%;
  max-width: 224px;
  max-height: 224px;
  margin: 30px 20px 30px 30px;
}

@media screen and (max-width: 1080px) {
  .histories__card_img {
    max-width: 120px;
    max-height: 120px;
    margin: 20px 16px 20px 20px;
  }
}

@media screen and (max-width: 470px) {
  .histories__card_img {
    max-width: 114px;
    max-height: 114px;
    margin: 14px 10px 14px 14px;
  }
}