.for-whom__title {
  font-style: normal;
  font-size: 34px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
}
@media screen and (max-width: 1439px) {
  .for-whom__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .for-whom__title {
    font-size: 18px;
  }
}
