.menu__link {
  color: #333;
  cursor: pointer;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}