.footer__text {
  color: #333;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 120%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .footer__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .footer__text {
    font-size: 12px;
  }
}