.news__button{
  min-width: 194px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  align-self: center;
}

@media screen and (max-width:780px){
  .news__button{
    position: absolute;
    bottom:56px;
    left:0;
    right: 0;
    margin:auto;
    font-size: 16px;
  }
}

@media screen and (max-width:325px){
  .news__button{
    width:100%;
    max-width: 300px;
    margin: 0 10px; 
    bottom:32px;
    font-size: 14px;
  }
}



