.histories__card-name {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin: 0px;
}

@media screen and (max-width: 1080px) {
  .histories__card-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 470px) {
  .histories__card-name {
    font-size: 14px;
  }
}