.histories__card-name {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin: 0px;
}