.footer__support-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 154px;
}

@media screen and (max-width:1439px) {
  .footer__support-box {
    gap: 45px;
    height: fit-content;
    justify-content: flex-start;
  }
}

@media screen and (max-width:767px) {
  .footer__support-box {
    gap: 47px;
  }
}