.button__icon_type_accordion {
  height: 17px;
  width: 17px;
  transition: transform 0.1s ease-in-out;
}

@media screen and (max-width:1439px) {
  .button__icon_type_accordion {
    height: 12px;
    width: 12px;
  }
}