.support__title{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333;
  margin: 23px 0 16px 0;
  text-align: center;
}

.support__title:last-of-type{
  margin: 41px 0 28px 0;
}

.support__title:first-child{
  margin: 33px 0 75px 0;
  font-size: 34px;
}