.news__text{
font-family: "Raleway", "Arial", sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 130%;
}

@media screen and (max-width: 850px){
  .news__text{
    font-size: 16px;
    line-height: 120%;
  }
}

@media screen and (max-width: 380px){
  .news__text{
    font-size: 14px;
  }
}