.footer__supports {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 19px;
  max-width: 512px;
  width: 100%;
}

@media screen and (max-width: 1439px) {
  .footer__supports {
    max-width: 311px;
  }
}

@media screen and (max-width:767px) {
  .footer__supports {
    max-width: 300px;
  }
}