.soc-proj__slider{
  display: flex;
  margin: auto 0 0 0;
  order: 4;
  position: relative;
  top: -35px;
  align-self: flex-start;
}

@media screen and (max-width: 1439px) {
  .soc-proj__slider{
    top: -24px;
  }
}

@media screen and (max-width: 767px) {
  .soc-proj__slider{
    position: static;
    align-self: center;
    margin-top: 16px;
  }
}