.button_color_blue {
  background-color: #E7F0FF;
  color: #0C4BA0;
}

.button_color_blue:hover:not(:disabled) {
  background-color: #0C4BA0;
  color: #FFF;
}

.button_color_blue:active:not(:disabled) {
  background-color: #00275C;
  color: #FFF;
}

.button_color_blue:disabled {
  background-color: #C4C4C4;
  border-color: transparent;
  color: rgba(38, 38, 38, 0.5);
}