.button_color_black {
  background-color: #333;
  color: #FFF;
}

.button_color_black:hover:not(:disabled) {
  background-color: #0C4BA0;
  color: #FFF;
}

.button_color_black:active:not(:disabled) {
  background-color: #00275C;
  color: #FFF;
}

.button_color_black:disabled {
  background-color: #C4C4C4;
  border-color: transparent;
  color: rgba(38, 38, 38, 0.5);
}