.news__item{
  border: 1px solid #DADADA;
  border-radius: 30px;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  color: #333333;
}

@media screen and (max-width: 780px) and (min-width: 380px){
  .news__item:nth-child(n+3){
  display: none;
  }
}

@media screen and (max-width: 380px){
  .news__item{
  padding: 24px;
  }
}