.support__title_main:first-child{
  font-size: 64px;
  letter-spacing: -0.01em;
  margin: 0px 0 50px 40px;
}

@media screen and (max-width: 1439px) {
  .support__title_main:first-child{
    font-size: 36px;
    letter-spacing: -0.01em;
    margin: 0px auto 24px;
  }
}

@media screen and (max-width: 767px) {
  .support__title_main:first-child{
    font-size: 26px;
  }
}