.histories__card {
  display: flex;
  background-color: #eae6ff;
  max-width: 670px;
  max-height: 285px;
  box-sizing: border-box;
  border-radius: 30px;
  margin-right: 20px;
  flex: 1;
}

.histories__card:last-child {
  margin-right: 0;
}

