.soc-proj{
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 565px;
}

@media screen and (max-width: 1439px){
  .soc-proj{
    max-height: 286px;
  }
}

@media screen and (max-width: 767px){
  .soc-proj{
    flex-direction: column;
    max-height:none;
    align-items: center;
  }
}