.directions__element {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 428px;
}
@media screen and (max-width: 1439px) {
  .directions__element {
    min-height: 294px;
  }
}

@media screen and (max-width: 767px) {
  .directions__element {
    grid-template-columns: minmax(300px, 1fr);
    min-height: 254px;
  }
}
