@import url(../vendor/fonts.css);
@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/section/section.css);
@import url(../blocks/section/_background/section_background.css);
@import url(../blocks/section/_background/_light-blue/section__background_light-blue.css);
@import url(../blocks/section/__content/section__content.css);
@import url(../blocks/section/__title/section__title.css);
@import url(../blocks/button/button.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__fixed-box/header__fixed-box.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__buttons/header__buttons.css);
@import url(../blocks/menu-button/menu-button.css);
@import url(../blocks/menu-button/_active/menu-button_active.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/_opened/menu_opened.css);
@import url(../blocks/menu/__accordions/menu__accorions.css);
@import url(../blocks/menu/__accordion/menu__accordion.css);
@import url(../blocks/menu/__accordion/_active/menu__accordion_active.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/menu/__short-link/menu__short-link.css);
@import url(../blocks/menu/__short-links/menu__short-links.css);
@import url(../blocks/menu/__links/menu__links.css);
@import url(../blocks/menu/__title/menu__title.css);
@import url(../blocks/menu/__title/_active/menu__title_active.css);
@import url(../blocks/menu/__big-link/menu__big-link.css);
@import url(../blocks/navigation/navigation.css);
@import url(../blocks/navigation/_opened/navigation_opened.css);
@import url(../blocks/navigation/__links/navigation__links.css);
@import url(../blocks/navigation/__link/navigation__link.css);
@import url(../blocks/navigation/__text/navigation__text.css);
@import url(../blocks/soc-proj/soc-proj.css);
@import url(../blocks/soc-proj/__column/soc-proj__column.css);
@import url(../blocks/soc-proj/__title/soc-proj__title.css);
@import url(../blocks/soc-proj/__highlight/soc-proj__highlight.css);
@import url(../blocks/soc-proj/__paragraph/soc-proj__paragraph.css);
@import url(../blocks/soc-proj/__paragraph/_bold/soc-proj__paragraph_bold.css);
@import url(../blocks/soc-proj/__slider/soc-proj__slider.css);
@import url(../blocks/soc-proj/__column/_slide/_everland/soc-proj__column_slide_everland.css);
@import url(../blocks/soc-proj/__column/_slide/_cat/soc-proj__column_slide_cat.css);
@import url(../blocks/soc-proj/__column/_slide/_cats/soc-proj__column_slide_cats.css);
@import url(../blocks/soc-proj/__column/_slide/_cosm/soc-proj__column_slide_cosm.css);
@import url(../blocks/soc-proj/__column/_slide/_dogs/soc-proj__column_slide_dogs.css);
@import url(../blocks/soc-proj/__column/_slide/_socr/soc-proj__column_slide_socr.css);
@import url(../blocks/support-btns/__subm-btn/support-btns__subm-btn.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__radio-cont/form__radio-cont.css);
@import url(../blocks/form/__checkbox/form__checkbox.css);
@import url(../blocks/form/__label/_checkbox/form__label_checkbox.css);
@import url(../blocks/form/__checkbox-pseudo/form__checkbox-pseudo.css);
@import url(../blocks/support/__radio-cont/support__radio-cont.css);
@import url(../blocks/form/__text-inp/_num/form__text-inp_num.css);
@import url(../blocks/form/__label/form__label.css);
@import url(../blocks/form/__radio-cont/_content/_donation-type/form__radio-cont_content__donation-type.css);
@import url(../blocks/form/__radio-cont/_content/_paysis/form__radio-cont_content_paysis.css);
@import url(../blocks/form/__radio-cont/_content/_sum/form__radio-cont_content_sum.css);
@import url(../blocks/form/__radio-cont/_content/_anoth-sum/form__radio-cont_content_anoth-sum.css);
@import url(../blocks/form/__radio/form__radio.css);
@import url(../blocks/form/__subm-btn/__subm-btn.css);
@import url(../blocks/form/__subm-btn/_place/_supp-btns/form__subm-btn_place_supp-btns.css);
@import url(../blocks/for-whom/for-whom.css);
@import url(../blocks/for-whom/__element/for-whom__element.css);
@import url(../blocks/for-whom/__icon/for-whom__icon.css);
@import url(../blocks/for-whom/__container/for-whom__container.css);
@import url(../blocks/for-whom/__title/for-whom__title.css);
@import url(../blocks/for-whom/__subtitle/for-whom__subtitle.css);
@import url(../blocks/for-whom/__text-container/for-whom__text-container.css);
@import url(../blocks/for-whom/__button-container/for-whom__button-container.css);
@import url(../blocks/for-whom/__icon/_color/for-whom__icon_color_blue.css);
@import url(../blocks/for-whom/__icon/_color/for-whom__icon_color_orange.css);
@import url(../blocks/for-whom/__icon/_color/for-whom__icon_color_green.css);
@import url(../blocks/for-whom/__block-container/for-whom__block-container.css);
@import url(../blocks/button/_type/button_type_secondary.css);
@import url(../blocks/button/_type/button_type_colorless.css);
@import url(../blocks/button/_type/button_type_link.css);
@import url(../blocks/button/_type/button_type_slider.css);
@import url(../blocks/button/_type/button_type_accordion.css);
@import url(../blocks/button/_color/button_color_blue.css);
@import url(../blocks/button/_color/button_color_orange.css);
@import url(../blocks/button/_color/button_color_green.css);
@import url(../blocks/button/_color/button_color_purple.css);
@import url(../blocks/button/_color/button_color_black.css);
@import url(../blocks/button/__icon/button__icon.css);
@import url(../blocks/button/__icon/_type/button__icon_type_slider.css);
@import url(../blocks/button/__icon/_type/button__icon_type_accordion.css);
@import url(../blocks/button/_active/button_active.css);
@import url(../blocks/directions/directions.css);
@import url(../blocks/directions/__container/directions__container.css);
@import url(../blocks/directions/__element/directions__element.css);
@import url(../blocks/directions/__text-container/directions__text-container.css);
@import url(../blocks/directions/__title/directions__title.css);
@import url(../blocks/directions/__subtitle/directions__subtitle.css);
@import url(../blocks/directions/__button-container/directions__button-container.css);
@import url(../blocks/directions/__element/_color/directions__element_color_orange.css);
@import url(../blocks/directions/__element/_color/directions__element_color_blue.css);
@import url(../blocks/directions/__element/_color/directions__element_color_green.css);
@import url(../blocks/special-proj/special-proj.css);
@import url("../blocks/news/news.css");
@import url("../blocks/news/__item/news__item.css");
@import url("../blocks/news/__picture/news__picture.css");
@import url("../blocks/news/__wrapper/news__wrapper.css");
@import url("../blocks/news/__date/news__date.css");
@import url("../blocks/news/__topic/news__topic.css");
@import url("../blocks/news/__title/news__title.css");
@import url("../blocks/news/__text/news__text.css");
@import url("../blocks/news/_without-picture/news_without-picture.css");
@import url("../blocks/news/__button/news__button.css");
@import url("../blocks/news/__header/news__header.css");
@import url(../blocks/special-proj/__bg/special-proj__bg.css);
@import url("../blocks/special-proj/__column/special-proj__column.css");
@import url("../blocks/special-proj/__paragraph/special-proj__paragraph.css");
@import url("../blocks/special-proj/__paragraph/_small/special-proj__paragraph_small.css");
@import url("../blocks/special-proj/__btns-container/special-proj__btns-container.css");
@import url("../blocks/special-proj/__img/special-proj__img.css");
@import url("../blocks/special-proj/__slider-cont/special-proj__slider-cont.css");
@import url(../blocks/special-proj/__title/special-proj__title.css);
@import url(../blocks/special-proj/__link/special-proj__link.css);
@import url(../blocks/special-proj/__button/special-proj__button.css);
@import url("../blocks/advantage-accordion/__content/advantage-accordion__content.css");
@import url("../blocks/advantage-accordion/__details/advantage-accordion__details.css");
@import url("../blocks/advantage-accordion/__group/advanatge-accordion__group.css");
@import url("../blocks/advantage-accordion/__input/advantage-accordion__input.css");
@import url("../blocks/advantage-accordion/__item/__item_top/advantage-accordion__item_top.css");
@import url("../blocks/advantage-accordion/__item/advantage-accordion__item.css");
@import url("../blocks/advantage-accordion/__list/advantage-accordion__list.css");
@import url("../blocks/advantage-accordion/__subtitle/advantage-accordion__subtitle.css");
@import url("../blocks/digits-table/digits-table.css");
@import url("../blocks/digits-table/__title/digits-table__title.css");
@import url("../blocks/digits-table/__subtitle/digits-table__subtitle.css");
@import url("../blocks/digits-table/__span-accent/digits-table__span-accent.css");
@import url("../blocks/digits-table/__list/digits-table__list.css");
@import url("../blocks/digits-table/__image/digits-table__image.css");

@import url(../blocks/section/_block/_support-btns/section_block_support-btns.css);
@import url(../blocks/support/support.css);
@import url(../blocks/support/__title/support__title.css);
@import url(../blocks/support/__paragraph/support__paragraph.css);
@import url(../blocks/support/__svg/support__svg.css);
@import url(../blocks/support/__svg/_arrow/support__svg_arrow.css);
@import url(../blocks/support/__column/support__column.css);
@import url(../blocks/support/__checkbox-text/support__checkbox-text.css);
@import url(../blocks/form/_data/form_data.css);
@import url(../blocks/form/__text-inp/form__text-inp.css);
@import url(../blocks/form/__pos-cont/form__pos-cont.css);
@import url(../blocks/form/__pos-cont/_paysis/form__pos-cont_paysis.css);
@import url(../blocks/support/__link/support__link.css);
@import url(../blocks/form/__subm-btn/_place/_support/form__subm-btn_place_support.css);
@import url(../blocks/form/__text-inp/_display/form__text-inp_display.css);
@import url(../blocks/support/__don-cont/support__don-cont.css);
@import url(../blocks/support/__moneytime/support__moneytime.css);
@import url(../blocks/support/__text/support__text.css);
@import url(../blocks/support/__dots/support__dots.css);

@import url(../blocks/support/__title/_main/support__title_main.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__inner-resources/footer__inner-resources.css);
@import url(../blocks/footer/__about/footer__about.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/footer/__navigation-box/footer__navigation-box.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__outer-resources/footer__outer-resources.css);
@import url(../blocks/footer/__supports/footer__supports.css);
@import url(../blocks/footer/__support-box/footer__support-box.css);
@import url(../blocks/footer/__phone-numbers/footer__phone-numbers.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/footer/__partners/footer__partners.css);
@import url(../blocks/footer/__partner/footer__partner.css);
@import url(../blocks/footer/__bilain/footer__bilain.css);
@import url(../blocks/footer/__fond/footer__fond.css);
@import url(../blocks/footer/__contacts/footer__contacts.css);
@import url(../blocks/footer/__socials/footer__socials.css);
@import url(../blocks/footer/__social-box/footer__social-box.css);
@import url(../blocks/footer/__social-links/footer__social-links.css);
@import url(../blocks/footer/__social-link/footer__social-link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__practicum/footer__practicum.css);
@import url("../blocks/digits-table/digits-table.css");
@import url("../blocks/digits-table/__title/digits-table__title.css");
@import url("../blocks/digits-table/__subtitle/digits-table__subtitle.css");
@import url("../blocks/digits-table/__span-accent/digits-table__span-accent.css");
@import url("../blocks/digits-table/__list/digits-table__list.css");
@import url("../blocks/digits-table/__image/digits-table__image.css");
@import url("../blocks/histories/__button/histories__button.css");
@import url("../blocks/histories/__section/histories__section.css");
@import url("../blocks/histories/histories.css");
@import url("../blocks/histories/__list/histories__list.css");
@import url("../blocks/histories/__title/histories__title.css");
@import url("../blocks/histories/__subtitle/histories__subtitle.css");
@import url("../blocks/histories/__item/histories__item.css");
@import url("../blocks/histories/__image/histories__image.css");
@import url("../blocks/histories/__details/histories__details.css");
@import url("../blocks/histories/__button/_decoration/histories__button_decoration.css");
@import url("../blocks/histories/_margin/histories_margin.css");
@import url("../blocks/histories/__button/_size/histories__button_size.css");
@import url("../blocks/histories/__button/_text/histories__button_text.css");
@import url("../blocks/histories/__title/_quote/histories__title_quote.css");
@import url("../blocks/histories/__details/_position/histories__details_position.css");
@import url("../blocks/histories/__card-name/histories__card-name.css");
@import url("../blocks/histories/__card-title/histories__card-title.css");
@import url("../blocks/histories/__card-link/_name/histories__card-link_name.css");
@import url("../blocks/histories/__card-link/_video/histories__card-link_video.css");
@import url("../blocks/histories/__card_img/histories__card_img.css");
@import url("../blocks/histories/__cards/histories__cards.css");
@import url("../blocks/histories/__card/histories__card.css");
@import url("../blocks/histories/__card-content/histories__card-content.css");
@import url("../blocks/histories/__card-link/histories__card-link.css");
@import url("../blocks/histories/__block-cards/histories__block-cards.css");
@import url("../blocks/histories/__title/_quote/_quote-padding/histories__title_quote-padding.css");