@import url(../styles/normalize.css);
@import url(../styles/fonts.css);
@import url(../blocks/projects/projects.css);
@import url(../blocks/projects/__title/projects__title.css);
@import url(../blocks/projects/__title/_max/projects__title_max.css);
@import url(../blocks/projects/__title/_min/projects__title_min.css);
@import url(../blocks/projects/__subtitle/projects__subtitle.css);
@import url(../blocks/projects/__cards/projects__cards.css);
@import url(../blocks/projects/__cards/__item/projects__cards__item.css);
@import url(../blocks/projects/__cards/__image/project__cards__image.css);
@import url(../blocks/projects/__cards/__name/projects__cards__name.css);
@import url(../blocks/projects/__info/projects__info.css);
@import url(../blocks/projects/__info/__button/projects__info__button.css);