.button_type_colorless {
  background-color: transparent;
  border: 1px solid #333;
  padding: calc(12px - 1px) calc(16px -1px);
  color: #333;
}

.button_type_colorless:hover:not(:disabled) {
  background-color: transparent;
  border-color: #333;
  color: #333;
}

.button_type_colorless:active:not(:disabled) {
  background-color: #333;
  border-color: transparent;
  color: #FFF;
}