.form__radio-cont_content_sum{
  width: 159px;
}

.form__pos-cont > .form__radio-cont_content_sum{
  margin-bottom: 12px;
}

.form_data > .form__radio-cont_content_sum{
  margin-bottom: 16px;
}

@media screen and (max-width: 1439px) {
  .form__radio-cont_content_sum{
    width: 75px;
  }
  .form__pos-cont > .form__radio-cont_content_sum{
    width: 145px;
    margin: 0 16px 16px 0;
  }
  .form_data > .form__radio-cont_content_sum{
    width: 190px;
    margin: 0 0 19px 0;
  }
}

@media screen and (max-width: 767px) {
  .form__radio-cont_content_sum{
    width: 122px;
  }
  .form > .form__radio-cont_content_sum:nth-of-type(2n){
    margin: 0 0px 16px 0;
  }
  .form__pos-cont > .form__radio-cont_content_sum{
    width: 122px;
  }
  .form__pos-cont > .form__radio-cont_content_sum:nth-of-type(2n){
    margin: 0 0px 16px 0;
  }
  .form_data > .form__radio-cont_content_sum{
    width: 260px;
  }
}