.navigation {
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: center;
  max-width: 1440px;
  overflow: hidden;
  padding: 12px 42px;
  width: 100%;
}

@media screen and (max-width:1439px) {
  .navigation {
    display: none;
  }
}