.directions__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  margin: 20px 0px 0px 0px;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
}
@media screen and (max-width: 1439px) {
  .directions__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .directions__subtitle {
    grid-template-columns: minmax(300px, 1fr);
    font-size: 14px;
  }
}
