.menu-button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
  transition: opacity 0.1s ease-in-out;
}

.menu-button:hover {
  opacity: 0.8;
}

.menu-button::before {
  background-image: url(../../images/icon-menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 20px;
  width: 25px;
}

.menu-button::after {
  color: #333;
  content: "Меню";
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:1439px) {
  .menu-button {
    gap: 12px;
  }

  .menu-button::before {
    height: 24px;
  }

  .menu-button::after {
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button::before {
    height: 20px;
    width: 24px;
  }

  .menu-button::after {
    display: none;
  }
}