.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 11px;
  max-width: 629px;
}

@media screen and (max-width: 1439px) {
  .footer__socials {
    gap: 12px;
    max-width: 336px;
  }
}

@media screen and (max-width: 767px) {
  .footer__socials {
    gap: 8px;
    max-width: 300px;
  }
}