.special-proj__column{
  display: flex;
  flex-direction: column;
  padding: 0 0 0 56px;
  grid-column: 3/4;
  grid-row: 1/5;
}

@media screen and (max-width:1439px) {
  .special-proj__column{
    max-height: 284px;
    padding: 0 0 0 30px;
    grid-column: 3/4;
    grid-row: 1/5;
  }
}

@media screen and (max-width:767px) {
  .special-proj__column{
    padding: 20px 0;
    max-width: 254px;
    max-height: 180px;
    grid-row: 2/3;
    grid-column: 1/3;
  }
}