.section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 40px 50px;
  width: 100%;
  position: relative;
}

@media screen and (max-width:1439px) {
  .section {
    gap: 32px;
    padding: 50px 40px;
  }
}

@media screen and (max-width:767px) {
  .section {
    gap: 24px;
    padding: 32px 10px;
  }
}