.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 90px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 1439px) {
  .footer__container {
    gap: 56px;
  }
}

@media screen and (max-width:767px) {
  .footer__container {
    align-items: center;
    gap: 40px;
  }
}