.digits-table__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 325px));
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 30px;
  max-width: 670px;
  max-height: 226px;
  padding: 0;
  margin: 71px 0 71px 0;
}