.button {
  align-items: center;
  background-color: #0C4BA0;
  border-radius: 10px;
  border: 2px solid transparent;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-family: 'Railway', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 500;
  gap: 10px;
  height: 48px;
  justify-content: center;
  line-height: 120%;
  margin: 0;
  padding: calc(12px - 2px) calc(16px - 2px);
  transition: all 0.1s ease-in-out;
}

.button:hover:not(:disabled) {
  background-color: #4183DC;
}

.button:active:not(:disabled) {
  background-color: #00275C;
}

.button:disabled {
  background-color: #F5F5F5;
  border: 2px solid #C4C4C4;
  color: rgba(38, 38, 38, 0.5);
  cursor: default;
  padding: calc(12px - 2px) calc(16px - 2px);
}