.soc-proj__column_slide_everland{
  background-image: url(../../../../../images/soc-proj__bging_front_desc.png), url(../../../../../images/soc-proj__bgimg_back_desc.png);
  background-size: auto, auto;
}

@media screen and (max-width:1439px) {
  .soc-proj__column_slide_everland{
    background-image: url(../../../../../images/soc-proj__bgimg_front_laptop.png), url(../../../../../images/soc-proj__bgimg_back_laptop.png);
    background-size: 170px 175px, 184px 154px;
  }
}

@media screen and (max-width:767px) {
  .soc-proj__column_slide_everland{
    background-image: url(../../../../../images/soc-proj__bgimg_front_mob.jpg), url(../../../../../images/soc-proj__bgimg_back_mobile.png);
    background-size: 170px 160px, 190px 144px;
  }
}