.digits-table__title {
  margin: 0;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  font-feature-settings: 'pnum' on, 'lnum' on
}